img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    font-size: 48px;
    font-weight: bold;
    text-decoration: underline;
  }

body {
background-color:  rgba(0, 0, 128, 0.795);
}

p {
    margin-left: auto;
    margin-right: auto;
    padding:15px;
    font-weight: bold;
}

button, .btn {
    padding: 10px;
    background-color: rgb(19, 127, 177);
    border-radius: 2;
    border-width: 1px;
    border: black;
    color: whitesmoke;
    margin: 10px
}

.card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    padding-top: 20px;
    text-align: center;
  
    }
  .hide {
    display: none;
  }

  #question {

    font-weight: bold;
  }

  #timer {
    color: black;
    font-weight: bolder;
    max-width: 250px;
    max-height: 160px;
    background-color: lightgray;
    text-align: center;
    border-style: solid;
    
  }



  .big-text {
    font-size: 20px;
    
  }

  .btn.correct {
    background-color: chartreuse;
    color: black;
  }

  .btn.wrong {
    background-color: crimson;

  }

  #score-count {

    border: darkblue;
    background-color: whitesmoke;
    border-radius: 20px;
    max-width: 160px;
    margin-left: 40px;
    margin-top: 40px;
  }